# Ignore everything
*

../../../administrator/language/en-GB/*
css/*
js/*

# language
!../../../administrator/language/en-GB/en-GB.plg_system_wfmediaelement.ini
!../../../administrator/language/en-GB/en-GB.plg_system_wfmediaelement.sys.ini

# plugin
!css/*
!js/*
!wfmediaelement.php
!wfmediaelement.xml
!README.md